*{margin: 0; padding: 0;}



.cabecalho{
    background-color: rgb(247, 158, 6);
    list-style: none;
    
}

h1,p{
    text-align: center;
    color: #042f66

}

.rodape img{
    width: 50px;
    margin-left: 300px;
}

.menu{    
    background-color: rgb(247, 158, 6);
    list-style: none;
    text-align: center;
    
    
    
}

.menu a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    
}

.menu a:hover{
    background-color: rgb(255, 208, 126);
}


.container{
    display:flex;
    align-items: center;
    width: 400px;
    height: 400;
    
    

}

.mulher{
    display:inline-block;
}

.notebook{
    display: inline-block;
    flex: st;
}


table{
    padding: 10px;
    width: 800px;
}

th{
    width: 600px;
    text-align: left;
}

td{
    width: 200px;
    margin-right: 100px;
}





    
    
    


.rodape img{
    width: 50px;
    height: 50px;
    margin: 30px;
    
}

.rodape p{
    margin: 20px;
    color: #eeeee4
}

footer{
    text-align: center;
    background-color:#195e83
    
}



.func{
    margin: 30px;
}

.carrinho{
    margin: 0;
}
